*
    background-color: antiquewhite;
}

h1
    color: whitesmoke;
    background-color: darkseagreen;
    text-align: start;
}

h2
    color: #FAF8F1;
    background-color: #C58940;
    text-align: end;
}